<section id="profileBody">
    <article id="profileData">
        <form id="profileForm" #modForm="ngForm" (submit)="sendModification(modForm)"> 
            <div id="profileMessage">Tus datos de usuario
            </div> 
            <div id="firstLine">
                <div id="name">Nombre
                    <input type="text" id="inputName" placeholder="Nombre" Required name="Name" [(ngModel)]="user.Name">
                </div>
                <div id="surnames">Apellidos
                    <input type="text" placeholder="Apellidos" Required name="Surnames" [(ngModel)]="user.Surnames">
                </div>
            </div>
            <div id="secondLine">
                <div id="date">Fecha de nacimiento
                    <div id="dateSelector">
                        <input id="dateInput" type="date" name="birthdate" Required name="Birthadte" [(ngModel)]="user.Birthdate">
                    </div>
                </div>
                <div id="document">Doc. de identidad
                    <input type="text" placeholder="Documento de identificación" Required name="Document" [(ngModel)]="user.Document"> 
                </div>
            </div>
            <div id="thirdLine">
                <div id="phone">Teléfono
                    <input type="text" placeholder="Teléfono" Required name="Phone" [(ngModel)]="user.Phone"> 
                </div>
                <div id="email">Email
                    <input type="email" placeholder="Email" Required name="Email" [(ngModel)]="user.Email">
                </div>
            </div>
            <div id="fourthLine">
                <div id="password"> Password
                    <input type="password" placeholder="Contraseña" Required name="Password" [(ngModel)]="user.Password"> 
                </div>
            </div>
            <div id="sendModification">
                <button routerLink="/" id="acceptButton">Aceptar</button>
                <button type="submit" id="ModButton">Modificar</button>
            </div>       
        </form>
    </article>
    <article id="orderData">
            <div id="orderMessage">Tus pedidos
            </div> 
            <div id="orderInfo">
                <div id="filmInfo">Película
                    <img src="https://image.tmdb.org/t/p/w185/{{film.PosterPath}}" id="poster">
                </div>
                <div id="orderDate">Fecha pedido
                    <div id="date">
                        {{order.OrderDate | date }}
                    </div>
                </div>
                <div id="orderDevolution">Fecha devolución
                    <div id="devolution">
                        {{order.Devolution | date }}
                    </div>
                </div>
                <div id="priceInfo">Precio
                    <div id="price">
                        {{order.Price}} €
                    </div>
                </div>
            </div>
    </article>
</section>
