#profileBody{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 45rem;
    width: 100%;
    background-color: rgb(15, 15, 15);
    
}
article{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 25%;
    height: 25rem;
    background-color: black;
    padding: 3rem;
    margin-top: 3rem;
    color: white;
    font-weight: bolder;
    border: 1rem solid rgb(0, 247, 185);
    border-radius: 1rem;
}

#profileMessage{
    color:rgb(0, 247, 185);
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: 2rem;
}

#firstLine, #secondLine, #thirdLine, #fourthLine{
    display: flex;
}

#name, #surnames, #date, #document, 
#email, #phone, #password{
    display: flex;
    flex-direction: column;
    height: 2rem;
    padding: 1rem;
}

#name{
    width: 9rem;
}

#surnames{
    width: 15rem;
    padding-left: 2rem;
}

#date {
    width: 12rem;   
}

#document{
    margin-top: 0.5rem;
    width: 13rem;
}

#phone{
    width: 9rem
}

#email{
    padding-left: 2rem;
    width: 15rem
}

#password {
    width: 12rem;
}

#password2{
    padding-top: 1rem;
    width: 10rem;
}

#sendModifications{
    padding-top: 2rem;
}

#modifyButton{
    margin-right:1rem ;
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: small;
    font-weight: bolder;
    border: 0.15rem solid rgb(0, 247, 185);
    background-color: rgb(0, 247, 185);
}

#registerButton:hover, #registerButton:focus, #registerButton:active {
    background-color: black;
    color:white;
    outline: none;
    text-decoration: none;
}