<!-- <section id="profileBody">
    <article id="profile">
        <div id="ProfileMessage">Tus datos de usuario
        </div> 
        <div id="firstLine">
            <div id="name">Nombre
                <input type="text" id="inputName" placeholder="Nombre" [(ngModel)]="userForm.Name">
            </div>
            <div id="surnames">Apellidos
                <input type="text" placeholder="Apellidos" [(ngModel)]="userForm.Surnames">
            </div>
        </div>
        <div id="secondLine">
            <div id="date">Fecha de nacimiento
                <div id="dateSelector">
                    <input type="date" name="birthdate" value="2000-06-22" [(ngModel)]="userForm.Birthdate">
                </div>
            </div>
            <div id="document">Documento de indentidad
                <input type="text" placeholder="Documento de identificación" [(ngModel)]="userForm.Document"> 
            </div>
        </div>
        <div id="thirdLine">
            <div id="phone">Teléfono
                <input type="text" placeholder="Teléfono" [(ngModel)]="userForm.Phone"> 
            </div>
            <div id="email">Email
                <input type="text" placeholder="Email" [(ngModel)]="userForm.Email">
            </div>
        </div>
        <div id="fourthLine">
            <div id="password">Contraseña
                <input type="text" placeholder="Contraseña" [(ngModel)]="userForm.Password"> 
            </div>
        </div>
        <div id="sendModifications">
            <button type="submit" id="modifyButton" (click)="sendRegister()">Modificar</button>
        </div>       
    </article>
</section> -->
