<div class="zGenerationCollection">
    <h3>Generacion Z</h3>
    <p id="subtitle"> A un paso de la cúspide </p>
    <div class="movies">
        <div *ngFor="let film of showFilms" class="movie">
            <a routerLink="/detailfilm" routerLinkActive="active-link">
            <img width="200"height="288" (click)="filmService.setChoosenFilm(film)"
                src="https://image.tmdb.org/t/p/w200{{film.PosterPath}}" 
                alt="poster">
            </a>
            <p>{{film.Title}}</p>
        </div>
    </div>
</div>
