<section id="registerBody">
    <article id="register">
        <div id="registerMessage">Rellena tus datos para registrarte
        </div> 
        <div id="firstLine">
            <div id="name">
                <input type="text" id="inputName" placeholder="Nombre">
            </div>
            <div id="surnames">
                <input type="text" placeholder="Apellidos">
            </div>
        </div>
        <div id="secondLine">
            <div id="date">Fecha de nacimiento
                <div id="dateSelector">
                    <input type="date" id="start" name="birthdate"
                    value="2000-06-22">
                </div>
            </div>
            <div id="document">
                <input type="text" placeholder="Documento de identificación"> 
            </div>
        </div>
        <div id="thirdLine">
            <div id="phone">
                <input type="text" placeholder="Teléfono"> 
            </div>
            <div id="email">
                <input type="text" placeholder="Email">
            </div>
        </div>
        <div id="fourthLine">
            <div id="password"> 
                <input type="text" placeholder="Contraseña"> 
            </div>
            <div id="role">
                <input type="radio" name="" id="admin">admin
                <input type="radio" name="" id="user">user
            </div>
        </div>
        <div id="sendRegister">
            <button type="submit" id="registerButton">REGÍSTRATE</button>
        </div>       
    </article>
</section>
