<div class="collections">
    <h3>Colecciones</h3>
    <p id="subtitle">Nuestras mejores colecciones de hoy y de siempre</p>
    <div class="collectionsBillboard">
        <a routerLink="/popularcollection" routerLinkActive="active-link">
            <div id="collection1">
                <img id="popular" src="https://sm.ign.com/ign_es/news/j/joaquin-ph/joaquin-phoenixs-joker-immortalized-in-insanely-expensive-st_wxjt.jpg" alt="">
                <p id="popularWord">Popular</p>
            </div>
        </a>
        <a routerLink="/votedcollection" routerLinkActive="active-link">
            <div id="collection2">
                <img id="mostVoted" src="https://static2.abc.es/media/play/2019/09/20/padrino-kq3G--620x349@abc.jpg" alt="">
                <p id="votedWord">+Votadas</p>
            </div>
        </a>
        <a routerLink="/comedycollection" routerLinkActive="active-link">
            <div id="collection3">
                <img id="comedy" src="https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/styles/1200/public/media/image/2019/04/spaceballs.jpg?itok=gli8iZG9" alt="">
                <p id="comedyWord">Comedia</p>
            </div>
        </a>
    </div>
</div>
