<div class="collections">
    <h3>Colecciones</h3>
    <p id="subtitle">Nuestras mejores colecciones de hoy y de siempre</p>
    <div class="collectionsBillboard">
        <a routerLink="/popularcollection" routerLinkActive="active-link">
            <div id="collection1">
                <img id="popular" src="../../assets/img/joker.jpg" alt="">
                <p id="popularWord">Popular</p>
            </div>
        </a>
        <a routerLink="/votedcollection" routerLinkActive="active-link">
            <div id="collection2">
                <img id="mostVoted" src="../../assets/img/padrino.jpg" alt="">
                <p id="votedWord">+Votadas</p>
            </div>
        </a>
        <a routerLink="/eightycollection" routerLinkActive="active-link">
            <div id="collection3">
                <img id="eighty" src="../../assets/img/spaceballs.jpg" alt="">
                <p id="eightyWord">De los 80</p>
            </div>
        </a>
        <a routerLink="/ninetycollection" routerLinkActive="active-link">
            <div id="collection4">
                <img id="ninety" src="../../assets/img/MIB.jpg" alt="">
                <p id="ninetyWord">De los 90</p>
            </div>
        </a>
        <a routerLink="/zgenerationcollection" routerLinkActive="active-link">
            <div id="collection5">
                <img id="zgeneration" src="../../assets/img/whiplash.jpg" alt="">
                <p id="zgenerationWord">Generacion Z</p>
            </div>
        </a>
    </div>
</div>
