<div class="header">
    <div id="headerLinks">
        <img src="" alt="Logotipo">
        <a routerLink="/" routerLinkActive="active-link">
            Inicio    
        </a>
        <a routerLink="/collections" routerLinkActive="active-link">Colecciones</a>
    </div>
    <div id="buscaTitulo">
        <input type="text" placeholder="Busca tu película" (keyup)="searchTitle($event)">
        <a id="buscaLink" routerLink="/searchedfilms" routerLinkActive="active-link">BUSCAR</a>
    </div>
        <div id="registerLinks">
        <a id="registroNavegador" routerLink="/register" routerLinkActive="active-link">REGÍSTRATE</a>
        <a id="entraLink" routerLink="/login" routerLinkActive="active-link">ENTRA</a>
    </div>
</div>