<section class="bodyDetail">
    <article id="filmDetail">
        <div id="filmImage">
           <img src="https://image.tmdb.org/t/p/w185/{{choosenFilm.PosterPath}}" alt=""> 
        </div>
        <div id="filmInfo">
            <p>Título: <span>{{choosenFilm.Title}}</span></p>
            <p>Fechas de estreno: <span>{{choosenFilm.ReleaseDate | date:'y'}}</span></p>
            <p>Nota: <span>{{choosenFilm.VoteAverage}}</span></p>
            <p>Sinopsis:</p>
                <div id="overview">{{choosenFilm.Overview}}
                </div>
            
            <p>Precio/día: <span>2,95€</span></p>
            <button type="submit" id="rentButton" (click)="rentFilm()">Alquilar</button> 
        </div>
    </article>
</section>
